
Temp/
.vs/
Library/
Logs/
Obj/Debug/


AndroidCamera/*.iml

AndroidCamera/local.properties
AndroidCamera/.idea/caches
AndroidCamera/.idea/libraries
AndroidCamera/.idea/modules.xml
AndroidCamera/.idea/workspace.xml
AndroidCamera/.idea/navEditor.xml
AndroidCamera/.idea/assetWizardSettings.xml
AndroidCamera.DS_Store
AndroidCamera/build
AndroidCamera/captures
AndroidCamera.externalNativeBuild
AndroidCamera.cxx

AndroidCamera/nativecamera/build

AndroidCamera.gradle/



AndroidCamera.idea/
